body{margin:0;padding:0;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}code{font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace}.App{text-align:center}div.timer div{margin-top:20px}div.timer>div>div{display:inline-block}div.timer>div>div.buttons{margin-left:20px}
/*# sourceMappingURL=main.6590bf88.chunk.css.map */